In [28]:
import pandas as pd
from google.colab import drive

In [29]:
#Mount google drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [30]:
# Remove invalid characters from text
def remove_character_from_text(text,remove_characters):
    for char in remove_characters:
            text = [excerpt.replace(char, '') for excerpt in text]
    return text

In [31]:
#Print unique column values in data frame
def print_unique_col_values(df):
  for column in df:
    print(f'{column} : {df[column].unique()}')

In [32]:
#Loading datasets into pandas 
articles_df = pd.read_csv(r'/content/gdrive/MyDrive/Datasets/h&m/articles.csv')
customers_df = pd.read_csv(r'/content/gdrive/MyDrive/Datasets/h&m/customers.csv')
transactions_df = pd.read_csv(r'/content/gdrive/MyDrive/Datasets/h&m/transactions_train.csv')

In [33]:
REMOVE_CHARACTERS = [","]

In [34]:
articles_df = articles_df.dropna()
customers_df = customers_df.dropna()
transactions_df = transactions_df.dropna()

In [35]:
articles_df["prod_name"] = remove_character_from_text(articles_df["prod_name"], REMOVE_CHARACTERS) 
articles_df["product_type_name"] = remove_character_from_text(articles_df["product_type_name"], REMOVE_CHARACTERS)
articles_df["product_group_name"] = remove_character_from_text(articles_df["product_group_name"], REMOVE_CHARACTERS)
articles_df["graphical_appearance_name"] = remove_character_from_text(articles_df["graphical_appearance_name"], REMOVE_CHARACTERS)
articles_df["colour_group_name"] = remove_character_from_text(articles_df["colour_group_name"], REMOVE_CHARACTERS)
articles_df["perceived_colour_value_name"] = remove_character_from_text(articles_df["perceived_colour_value_name"], REMOVE_CHARACTERS)
articles_df["perceived_colour_master_name"] = remove_character_from_text(articles_df["perceived_colour_master_name"], REMOVE_CHARACTERS)
articles_df["department_name"] = remove_character_from_text(articles_df["department_name"], REMOVE_CHARACTERS)     
articles_df["index_name"] = remove_character_from_text(articles_df["index_name"], REMOVE_CHARACTERS) 
articles_df["index_group_name"] = remove_character_from_text(articles_df["index_group_name"], REMOVE_CHARACTERS) 
articles_df["section_name"] = remove_character_from_text(articles_df["section_name"], REMOVE_CHARACTERS) 
articles_df["garment_group_name"] = remove_character_from_text(articles_df["garment_group_name"], REMOVE_CHARACTERS)
articles_df["detail_desc"] = remove_character_from_text(articles_df["detail_desc"], REMOVE_CHARACTERS)

In [36]:
customers_df["club_member_status"] = remove_character_from_text(customers_df["club_member_status"], REMOVE_CHARACTERS) 
customers_df["fashion_news_frequency"] = remove_character_from_text(customers_df["fashion_news_frequency"], REMOVE_CHARACTERS) 
customers_df["postal_code"] = remove_character_from_text(customers_df["postal_code"], REMOVE_CHARACTERS)

In [37]:
transactions_df

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [39]:
def year_of_transaction(value):
    if '2020' in value:
        return "2020"
    elif '2019' in value:
        return "2019"
    elif '2018' in value:
        return "2018"
 
transactions_df['year'] = transactions_df['t_dat'].map(year_of_transaction)

,t_dat,customer_id,article_id,price,sales_channel_id,year
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2018
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018

In [41]:
def year_of_transaction(value):
    if '-01-' in value:
        return "January"
    elif '-02-' in value:
        return "February"
    elif '-03-' in value:
        return "March"
    elif '-04-' in value:
        return "April "
    elif '-05-' in value:
        return "May "
    elif '-06-' in value:
        return "June "
    elif '-07-' in value:
        return "July "
    elif '-08-' in value:
        return "August "
    elif '-09-' in value:
        return "September "
    elif '-10-' in value:
        return "October "
    elif '-11-' in value:
        return "November "
    elif '-12-' in value:
        return "December "
 
transactions_df['month'] = transactions_df['t_dat'].map(year_of_transaction)

Save process files

In [ ]:
articles_df.to_csv("/content/gdrive/MyDrive/Datasets/output/product-meta-data.csv", index=False)

In [ ]:
customers_df.to_csv("/content/gdrive/MyDrive/Datasets/output/customer-meta-data.csv", index=False)

In [46]:
transactions_df.to_csv("/content/gdrive/MyDrive/Datasets/output/transaction-history.csv", index=False)